<style>
.dashboard-component-count p {
    font-size: 4rem;
    font-weight: 600;
}
</style>
<div class="dashboard-component-count">
    <div class="box">
        <h6 class="is-title is-size-6 mb-0">
            <%= title %>
        </h6>
        <p class="has-text-centered">
            <%= number %>
        </p>
    </div>
</div>
