<style>
.lesli-view-widgets-date p.date {
    font-weight: 200;
    font-size: 4.2rem;
}

.lesli-view-widgets-date p.month {
    font-weight: 300;
    font-size: 1.8rem;
    color: #d2d2d2;
}
</style>
<div class="lesli-view-widgets-date">
    <div class="box has-text-centered">
        <p class="date">
            <%= @date.day %>
        </h6>
        <p class="month">
            <%= @date.strftime("%B") %>
        </p>
    </div>
</div>
