<style>

.lesli-view-widgets-weather .box p.temperature {
    font-weight: 200;
    font-size: 4.2rem;
}

.lesli-view-widgets-weather .box p.city {
    font-weight: 300;
    font-size: 1.8rem;
    color: #d2d2d2;
}

.lesli-view-widgets-weather .box .icon {
    width: 50px;
    height: 50px;
    float: right;
    font-size: 1.8rem;
    margin: 20px 20px 0 0;
    border-radius: 50%;    
}

.lesli-view-widgets-weather .box .icon.sun {
    color: white;
    background: #ffcd41;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
}

.lesli-view-widgets-weather .box .icon.cloud {
    color: white;
    background: #7cc8ff;
    box-shadow: rgba(124, 200, 255, 0.25) 0 0 0 17px;
}

</style>
<div class="lesli-view-widgets-weather">
    <div class="box">
        <span class="icon cloud">
            <span class="ri-showers-line"></span>
        </span>
        <p class="temperature">26ยบ</p>
        <p class="city">Guatemala</p>
    </div>
</div>
