<form class="lesli-form <%= 'box' unless flat %>">
    <fieldset <%= editable ? '' : 'disabled' %>>
        <% if title.present? %>
            <legend class="is-size-5 mb-3">
                <%= title %>
            </legend>
        <% end %>
        <%= content %>
    </fieldset>
</form>
