
<!-- app/components/lesli_application_container_component.html.erb -->
<turbo-frame id="<%= turbo_frame_id %>" class="lesli-application-container container <%= 'is-fluid' if dashboard %>">
    <%= content %>  
</section>
