<section class="lesli-element-header is-flex">
    <div class="lesli-element-header-title is-flex is-align-items-center">
        <% if back %>
            <button class="button is-info is-outlined mr-4" onclick="history.back()">
                <span class="material-icons">arrow_back</span>
            </button>
        <% end %>
        <% if title.present? %>
            <h1 class="subtitle is-size-3"><%= title %></h1>
        <% end %>
    </div>
    <div class="lesli-element-header-items is-flex is-flex-grow-1 is-justify-content-end">
        <%= content %>
    </div>
</section>

