
<div class="lesli-timelines">
    <div class="py-6 pl-4">
        <ul class="lesli-timeline lesli-timeline-split">
            <% @activities.each do |activity| %>
                <li class="lesli-timeline-item">
                    <div class="lesli-timeline-info">
                        <span><%= activity['date'] %></span>
                    </div>
                    <div class="lesli-timeline-marker"></div>
                    <div class="lesli-timeline-content">
                        <h3 class="lesli-timeline-title">
                            <%= activity['operation'] %>
                        </h3>
                        <p>
                            <%= activity['description'] %>
                        </p>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
