<figure class="lesli-element-avatar has-background-grey-lighter" style="<%= avatar_style %>">
    <% if image %>
        <img src="<%= image %>" alt="Avatar image">
    <% else %>
        <span class="has-text-weight-bold <%= font_size %>"><%= letter %></span>
    <% end %>
</figure>
