<% tag_name = url.present? ? :a : :button %>

<% attributes = {
  class: button_classes,
  data: {}
} %>

<% attributes[:href] = url if url.present? %>
<% attributes[:data][:turbo_frame] = "_top" if url.present? %>

<%# Add Alpine.js properties %>
<% attributes[:"x-data"] = "" if dispatch %>
<% attributes[:"@click"] = "$dispatch('#{ dispatch }')" if dispatch %>

<%= content_tag(tag_name, **attributes) do %>
    <% if icon %>
        <span class="icon <%= 'is-small' if small %>">
            <span class="material-icons"><%= icon %></span>
        </span>
    <% end %>
    <% unless icon_only? %>
        <span><%= label %></span>
    <% end %>
<% end %>
