<button class="<%= button_classes %>" data-action="click->button#click">
    <% if icon %>
        <span class="icon <%= 'is-small' if small %>">
            <span class="material-icons"><%= icon %></span>
        </span>
    <% end %>
    <% unless icon_only? %>
        <span>
            <%= label %>
        </span>
    <% end %>
</button>
